* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  transition: 0.3s;
}

.invisible{
  opacity: 0;
}

.does-not-exist{
  display: none;
}

.visibility{
  visibility: none;
}

body{
  overflow: hidden;
}

a{
  text-decoration: none; 
  color: unset;
}

header{
  height: 10vh;
  /* background: rgba(221, 220, 220, 0.815); */
  display: flex;
  /* background: rgba(128, 128, 128, 0.74); */
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  /* color: #7DF9FF; */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.name{
  height: fit-content;
  font-size: 1.5em;
  /* background: blue; */
}

.contact-links{
  height: fit-content;
  height: 39px;
  /* background: blue; */
  /* background: green; */
}

.contact-image{
  width: 32px;
  height: 35px;
  border-radius: 8%;
  padding: 0px;
  margin: 2px;
  background: rgb(235, 235, 235);
  /* margin: 5%; */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
}

.contact-image:hover{
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

.linkedin-image{
  background: blue;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  /* height: 6vh; */
}

.nav-link{
  font-size: 1.2em;
  margin: 4px;
  padding: 3px;
  border: solid 1px white;
  transition: 0.3s;
  border-radius: 5px;
}

.nav-link:hover{
  color: rgb(207, 80, 80);
  cursor: pointer;
  border: 1px rgb(207, 80, 80) solid;
}

.nav-link-active{
  color: rgb(207, 80, 80);
  /* border: 1px rgb(207, 80, 80) solid; */
}

.nav-small{
  display: none;
  height: 35px;
  width: 35px;
  cursor: pointer;
  /* background: blue; */
}

.nav-small img{
  height: 35px;
  width: 35px;
}

.about{
  height: 90vh;
  padding: 20px;
  text-align: justify;
  overflow-y: scroll;
  /* background: blue; */
}

.about > h1{
  margin-bottom: 20px;
  color: rgb(207, 80, 80);
}

.about > p{
  padding: 20px;
  /* background: blue; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90%;
  font-size: 1.4em;
  /* background: blue; */
}

.about > p > img{
  height: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 50%;
  margin: 20px;
  margin-bottom: 50px;
}

.skills{
  height: 90vh;
  padding: 20px;
  overflow-y: scroll;
}

.skills > h1{
  margin-bottom: 20px;
}

.skills > div{
  width: 100%;
  height: 90%;
  /* background: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-container{
  width: clamp(300px, 35%, 35%);
  aspect-ratio: 1.3/1;
  border: 2px solid lightgray;
  border-radius: 10px;
  display : flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* padding: 20px; */
  /* background: green; */
}

.skills-container > img{
  height: 50px;
  padding: 5px;
  margin: 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.skills-container > img:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.projects{
  height: 90vh;
  padding: 20px;
  /* background: green; */
}

.projects > h1{
  color: rgb(207, 80, 80);
}

@media only screen and (max-width: 768px){
  nav{
    display: unset;
    background: white;
    position: absolute;
    top: 9vh;
    left: 50vw;
    z-index: 10;
    transition: opacity 0.3s;
  }
  .nav-link{
    margin: 5px;
  }
  .nav-small{
    display: unset;
    border: solid 1px black;
  }
  
}